body {
    background:#444;
    color: #999;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

h2 {
    color: rgb(255, 255, 255);
    font-size: 24px;
}

footer {
    text-align: center;
    font-size: 13px;
}

a {
    color:#6dc7dd;
}

.lead {
    border-radius: 5px;
    padding: 15px;
    background-color: rgb(250, 250, 25);
    font-size: 24px;
    font-weight: 700;
    color: #444;
}

h1 {
    color: rgb(255, 255, 255);
    background-color: rgb(63, 63, 63);
    opacity: 0,5;
}

img {
    width: 100%;
    height: auto;
}

.container {
    position: relative;
    text-align: center;
}

h1 {
    color: rgb(255, 255, 255);
    background-color: rgb(63, 63, 63);
    opacity: 70%;
    position: absolute;
    top: 85%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%); 
}